# Dependencies
node_modules

# Build outputs
dist
build
out

# Testing
coverage

# Angular specific
.angular
.cache

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Misc
.env
.env.local
.env.*.local